<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56236883198-i0n4l86armn7h4m0312ilbutoc5b083s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56236883198-i0n4l86armn7h4m0312ilbutoc5b083s</string>
	<key>API_KEY</key>
	<string>AIzaSyDfFkq4hg5f3LKBzvRj8sTHe4n0mcp84FI</string>
	<key>GCM_SENDER_ID</key>
	<string>56236883198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neighboard</string>
	<key>PROJECT_ID</key>
	<string>project-neighboard</string>
	<key>STORAGE_BUCKET</key>
	<string>project-neighboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56236883198:ios:eaf7768cabc80c3b26f9af</string>
</dict>
</plist>